@font-face {
    font-family: 'QuincyCF';
    src: url('../webFonts/QuincyCF-Black.woff2') format('woff2'),
        url('../webFonts/QuincyCF-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'QuincyCF';
    src: url('../webFonts/QuincyCF-Bold.woff2') format('woff2'),
        url('../webFonts/QuincyCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'QuincyCF';
    src: url('../webFonts/QuincyCF-ExtraBold.woff2') format('woff2'),
        url('../webFonts/QuincyCF-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'QuincyCF';
    src: url('../webFonts/QuincyCF-Light.woff2') format('woff2'),
        url('../webFonts/QuincyCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'QuincyCF';
    src: url('../webFonts/QuincyCF-Medium.woff2') format('woff2'),
        url('../webFonts/QuincyCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'QuincyCF';
    src: url('../webFonts/QuincyCF-Regular.woff2') format('woff2'),
        url('../webFonts/QuincyCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

